<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header"></head>

<body>

<nav th:replace="layout :: navbar"></nav>

<div class="container">
  <form action="/customers/save" th:object="${customer}" method="POST" class="col-lg-6 offset-lg-3 ">
    <h3 style="padding-left: 150px;">Customer Form</h3>
    <hr>
    <h4>Customers details</h4>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" placeholder="First Name" th:field="${customer.firstname}" >
    <br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" placeholder="Last Name" th:field="${customer.lastname}">
    <br><br>
    <label for="address">address:</label>
    <input type="text" id="address" placeholder="Address" th:field="${customer.address}">
    <br><br>
    <label for="DOB">Date Of Birth:</label>
    <input type="text" id="DOB" placeholder="DOB" th:field="${customer.DOB}">
    <br><br>
    <hr>
    <button type="submit">Submit</button>
  </form>
</div>

</body>

</html>