<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">


</head>

<body>
<nav th:replace="layout :: navbar"></nav>
<div id="background-homepage">
  <div class="center-form">
    <div class="container-form">
      <h3 class="title">Congratulations! Grant Submitted</h3>
      <div class="content">
        <form action="#" th:object="${homepage}">
            <p class="submit-text">Thank you for submitting your grant request to Nausicaä’s Global Green Initiative! We appreciate your dedication to environmental stewardship and your commitment to making a positive impact on our planet. Rest assured, your proposal is in good hands, and we will carefully review it. Stay tuned for updates, and thank you again for your contribution to a greener, healthier future for all.</p>
          <a type="submit" class="btn btn-secondary btn-md btn-block" th:href="@{/homepage/new}" role="button" ><span class="button-text">Home</span></a>
        </form>
      </div>
    </div>
  </div>

</div>
</body>

</html>