<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment = "header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<div class="container">
  <form action="/grants/save" th:object="${grant}" method="POST" class="col-lg-6 offset-lg-3 ">
    <h3 style="padding-left: 150px;">Select A Grant</h3>
    <hr>
    <select th:field="${grant.optionOne}">
      <option th:value="GRANTONE"> $5,000</option>
      <option th:value="GRANTTWO"> $10,000</option>
    </select>
    <hr>
    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>
