<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">


</head>

<body>
<div id="background-homepage">
<nav th:replace="layout :: navbar"></nav>

<div class="container"  >
  <form action="#" th:object="${homepage}" class="col-md-6 offset-md-4" >
    <div class="jumbotron" id="group">
      <h1 class="display-3">Group 2</h1>
      <p class="lead">Nausicaä’s Global Green Initiative</p>
      <hr class="my-4">
      <p>An online application system for range of grants to support climate change initiatives. This is part of Studio Ghibli’s sustainable planet goals.</p>

      <p class="lead" >
      <div class="vertical-center">
        <a class="btn btn-primary btn-lg" th:href="@{/grants/new}" role="button" >Apply</a>
      </div>
      </p>
    </div>
  </form>
</div>
</div>
</body>

</html>